#wrapper {
  display: flex;
  min-height: 100% !important;
}

#content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

#content {
  flex: 1 0 auto;
}

.topbar .nav-item .nav-link {
  position: relative;
}
